body{
    background-color: red;
    color: #fff;
    margin: 100px;
}
.box{
    width: 400px;
    height: 200px;
    background: green;
}
@media screen and (min-width: 768px){
    body{
        background-color: yellowgreen;
    }
}
@media screen and (min-width: 1200px){
    body{
        background-color: blue;
    }
}